<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0"
    />
    <title>Budō Lineage Tree</title>
    <meta
      name="description"
      content="Interactive Budõ lineage tree: community-based, curated, comprehensive, and open"
      />
    <meta property="og:title" content="Budō Lineage Tree" />
    <meta property="og:url" content="https://budotree.judoc.org" />
    <meta
      property="og:description"
      content="Interactive Budõ lineage tree: community-based, curated, comprehensive, and open"
    />
    <meta property="og:image" content="../images/preview.png" />
    <meta
      name="og:video"
      content="https://budotree.judoc.org/images/budotree_h.mp4"
    />
    <meta
      name="og:video:url"
      content="https://budotree.judoc.org/preview.html"
    />
    <meta
      name="og:video:secure_url"
      content="https://budotree.judoc.org/preview.html"
    />
    <meta name="og:video:width" content="1200" />
    <meta name="og:video:height" content="620" />
    <meta name="og:video:type" content="text/html" />
    <meta name="og:type" content="video" />
    <meta name="twitter:title" content="Budō Lineage Tree" />
    <meta
      name="twitter:description"
      content="Interactive Budõ lineage tree: community-based, curated, comprehensive, and open"
    />
    <meta name="twitter:image" content="../images/preview.png" />
    <meta
      name="twitter:player"
      content="https://budotree.judoc.org/preview.html"
    />
    <meta name="twitter:player:width" content="1200" />
    <meta name="twitter:player:height" content="620" />
    <meta name="twitter:site" content="@fredericomunoz" />
    <meta name="twitter:card" content="player" />
    <meta name="author" content="Frederico Muñoz" />
    <link rel="icon" href="../images/favicon.ico" />
    <link rel="stylesheet" href="../styles/judotree.scss" />

  </head>
  <body>
    <nav
      class="navbar _is-dark _is-spaced has-shadow"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-item _mr-6">
        <figure class="image is-24x24 is-clickable">
          <a href="persons.html">
          <img
            class="image is-rounded"
            src="../images/kano_jigoro_small.jpg"
            id="home"
            alt="Home"
            />
          </a>
        </figure>
      </div>
      <div class="navbar-brand">
        <a id="jdp" class="navbar-item" href="https://www.judoc.org"
          >柔道 | JDP</a>
        <div id="nav-budo" class="navbar-item">Budō Lineage Tree</div>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start ml-6"></div>
        <div class="navbar-end"></div>
      </div>
      </div>
    </nav>
