<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0"
    />
    <title>{{name}} - Budō Lineage Tree</title>
    <meta
      name="description"
      content="{{name}} page in the Budõ Lineage Tree: community-based, curated, comprehensive, and open martial arts database."
      />
    <meta property="og:title" content=" {{name}} - Budō Lineage Tree" />
    <meta property="og:url" content="https://budotree.judoc.org/{{id}}.html" />
    <meta
      property="og:description"
      content="{{name}}page in the Budõ lineage tree: community-based, curated, comprehensive, and open martial arts database."
    />
    <meta property="og:image" content="{{#photo}}{{#photo_url_local}}{{{photo_url_local}}}{{/photo_url_local}}{{/photo}}{{^photo}}{{#photo_url_local}}{{{photo_url_local}}}{{/photo_url_local}}{{/photo}}" />

    <meta name="twitter:title" content="{{name}} (Budō Lineage Tree)" />
    <meta
      name="twitter:description"
      content="{{name}} page, (Budō Lineage Tree)"
    />
    <meta name="twitter:image" content="{{#photo}}{{#photo_url_local}}{{{photo_url_local}}}{{/photo_url_local}}{{/photo}}{{^photo}}{{#photo_url_local}}{{{photo_url_local}}}{{/photo_url_local}}{{/photo}}" />
    <meta name="twitter:site" content="@fredericomunoz" />

    <meta name="author" content="Frederico Muñoz" />
    <link rel="icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="styles/judotree.scss" />

  </head>
  <body>
    <nav
      class="navbar _is-dark _is-spaced has-shadow"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-item _mr-6">
        <figure class="image is-24x24 is-clickable">
          <a href="persons.html">
          <img
            class="image is-rounded"
            src="images/kano_jigoro_small.jpg"
            id="home"
            alt="Home"
            />
          </a>
        </figure>
      </div>
      <div class="navbar-brand">
        <a id="jdp" class="navbar-item" href="https://www.judoc.org"
          >柔道 | JDP</a>
        <div id="nav-budo" class="navbar-item">Budō Lineage Tree</div>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start ml-6"></div>
        <div class="navbar-end"></div>
      </div>
      </div>
    </nav>
