<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0"
    />
    <title>Budō Lineage Tree</title>
    <meta
      name="description"
      content="Interactive Budõ lineage tree: community-based, curated, comprehensive, and open"
    />
    <meta name="author" content="Frederico Muñoz" />
    <link rel="icon" href="../images/favicon.ico" />
    <link rel="stylesheet" href="../styles/judotree.scss" />

  </head>
  <body>
    <nav
      class="navbar _is-dark _is-spaced has-shadow"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-item _mr-6">
        <figure class="image is-24x24 is-clickable">
          <a href="persons.html">
          <img
            class="image is-rounded"
            src="../images/kano_jigoro_small.jpg"
            id="home"
            alt="Home"
            />
          </a>
        </figure>
      </div>
      <div class="navbar-brand">
        <a id="jdp" class="navbar-item" href="https://www.judoc.org"
          >柔道 | JDP</a>
        <div id="nav-budo" class="navbar-item">Budō Lineage Tree</div>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start ml-6"></div>
        <div class="navbar-end"></div>
      </div>
      <div class="navbar-item">
        <a href="https://budotree.judoc.org/tree.html" alt="Go to JavaScript version">
          JS version
        </a>
      </div>
    </nav>
