{{> head}}
<div class="person columns is-fluid container content-tab">
<ul>
 {{#arr}}
 {{#data}}

  <li>
    <a href="persons/{{id}}.html" id="{{id}}">{{name}}</a>
    <span class="style_native"> {{native_name.name}} </span>
  </li>
  {{/data}}
  {{/arr}}
</ul>
</div>
{{> tail}}
