{{> head}}
<ul>
 {{#arr}}
  {{#data}}
  <li>
    <a href="{{id}}.html" id="{{id}}">{{name}}</a>
    <span class="style_native"> {{native_name.name}} </span>
  </li>
  {{/data}}
  {{/arr}}
</ul>
{{> tail}}
