{{> head}}
<div id="info" class="person" vocab="https://schema.org/" resource="{{id}}.html" typeof="Person">

  <h1 class="name" property="name">{{name}}</h1>
  <div class="semantic-links">
    {{#links}}
    {{#img}}
    <a  href="{{uri}}" target="_blank">
      <img src="images/{{img}}" alt="{{cite}} entry"></img>
      <link property="sameAs" typeof="Person" resource="{{uri}}" href="{{uri}}" />
     </a>
     {{/img}}
     {{/links}}
   </div>
  <p class="native-name">{{native_name.name}}</p>
  <p class="nationality">
    {{#nationality}}
    <span property="nationality">{{.}}</span>
    {{/nationality}}
  <p>
    <p class="birth">
      {{#birth}}
      * <span property="birthDate">{{date_local}}</span> <span property="birthPlace">{{location}}</span> {{country_local}}
      {{/birth}}
      -
      {{#death}}
      † <span property="deathDate">{{date_local}}</span> <span property="deathPlace">{{location}}</span> {{country_local}}
      {{/death}}
    </p>

    <div class="individual-links">
      <a href="https://budotree.judoc.org/tree?id={{id}}" alt="Link to view">
        Open in tree
        <i class="fas fa-eye mr-3 "></i>
      </a>
      <a href="{{id}}.html" alt="Link to individual page">
        ID page
        <i class="fas fa-share-nodes mr-3 "></i>
      </a>
      <a href="{{gitRoot}}{{source_yaml}}" alt="Link to the YAML source">
        Source YAML
        <i class="fas fa-file-code mr-3 "></i>
      </a>
    </div>

<figure>
    {{#photo}}
    {{#photo_url_local}}
    <img src="./{{{photo_url_local}}}" alt="{{photo.cite}}" property="image"/>
    {{/photo_url_local}}
    {{^photo_url_local}}
    <img src="{{photo.url}}" alt="{{photo.cite}}" property="image"/>
    {{/photo_url_local}}
    <figcaption class="photo-sources">
      <a href="{{photo.source.uri}}" target="_blank">{{photo.source.cite}}</a>
    </figcaption>

    {{/photo}}

    {{^photo}}

    {{#photo_url_local}}
    <img src="./{{{photo_url_local}}}" alt="Photo of {{name}}" property="image"/>
    {{/photo_url_local}}

    {{^photo_url_local}}
    {{#photo_url}}
    <img src="{{photo_url}}"  alt="Photo of {{name}}" property="image"/>
    {{/photo_url}}
    {{/photo_url_local}}

    {{/photo}}
</figure>
    <p class="description" property="description">{{description_lang}}</p>
    <h2 id="i18n:teachers">Teachers</h2>
    <ul id="teachers">
      {{#teachers}}
      {{#teacher_name}}
      <li>
      <div vocab="https://schema.org/" typeof="EducationEvent">
        <span property="attendee" typeof="Person" resource="{{id}}.html" hidden><span property="name">{{name}}</span></span>
      <span property="performer" typeof="Person" resource="{{teacher_id}}.html">
        <a href="{{teacher_id}}.html" id="{{teacher_id}}" property="name">{{teacher_name}}</a>
      </span>
        <span class="style_native"> {{teacher_native.name}} </span>
        (<span property="teaches" typeof="Text">{{style}}</span>)
      </li>
      {{/teacher_name}}
      </div>
      {{/teachers}}
    </ul>
    <h2 id="i18n:students">Students</h2>
    <ul id="students">
      {{#students}}
      <div vocab="https://schema.org/" typeof="EducationEvent">
        <span property="performer" typeof="Person" resource="{{teacher_id}}.html" hidden><span property="name">{{teacher_name}}</span></span>
        <li>
          <span property="attendee" typeof="Person" resource="{{id}}.html">
            <a href="{{id}}.html" id="{{id}}" property="name">{{name}}</a>
          </span>
        <span class="style_native"> {{native_name.name}} </span>
        </li>
      </div>
      {{/students}}

    </ul>
<h2 id="i18n:rank">Rank</h2>
    <ul>
    {{#rank}}
    {{#style}}
    <span property="hasCredential" typeof="EducationalOccupationalCredential">
      <li><b><span property="competencyRequired" typeof="Text">{{style}}</span></b>
        {{#style_native}}
        <span class="style_native"> {{style_native.name}} </span>
        {{/style_native}}
        : <span property="educationalLevel" typeof="Text">{{rank}}</span>
        {{#teacher_name}}
        (<span property="creator" typeof="Person" resource="{{teacher_id}}.html">
          <a href="{{teacher_id}}.html"  property="name">{{teacher_name}}</a>
        </span>)
        {{/teacher_name}}
        {{#org}}
        (<!-- <span property="creator" typeof="Person"> -->
        <!--   <a href="{{teacher_id}}.html" resource="{{id}}.html" property="name"> -->
        <!--     {{teacher_name}} -->
        <!--   </a> -->
        <!-- </span> -->
        <span property="creator" typeof="Organization">
          <span property="name">{{org}}</span>
        </span>)
        {{/org}}
        </span>
        {{/style}}
      </li>
      {{/rank}}
    </ul>
<h2 id="i18n:sources">Sources</h2>
   <ul>
    {{#sources}}
      {{#cite}}
      <li><a class="sources" href="{{uri}}" target="_blank" property="url">{{cite}}</a></li>
      {{/cite}}
      {{^cite}}
      <li><a href="{{uri}}" target="_blank" property="url">{{uri}}</a></li>
      {{/cite}}
    {{/sources}}
    </ul>


</div>
<div  mb-5>
</div>
{{> tail}}
