
    <footer class="footer _has-text-white is-size-7 is-hidden-mobile">
      <div class="content has-text-centered">
        <p>
          <a href="https://github.com/Judo-Documentation-Project/budotree"
            ><strong>Budō Tree</strong
            ><i class="ml-1 fas fa-brands fa-github fa-fade"></i
          ></a>
          by <a href="https://fsmunoz.github.io">Frederico Muñoz</a>,
          <em>Judo Documentation Project</em>. Source code licensed
          <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>. Website
          & database under
          <a
            href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1"
            target="_blank"
            rel="license noopener noreferrer"
            style="display: inline-block"
            >CC BY-SA 4.0<img
              style="
                height: 16px !important;
                margin-left: 3px;
                vertical-align: text-bottom;
              "
              src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" /><img
              style="
                height: 16px !important;
                margin-left: 3px;
                vertical-align: text-bottom;
              "
              src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" /><img
              style="
                height: 16px !important;
                margin-left: 3px;
                vertical-align: text-bottom;
              "
              src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"
          /></a>
          <a href="about.html"
            ><i
              class="js-modal-trigger fast fas fa-circle-question is-size-6"
              data-target="modal-js-example"
            >
            </i
          ></a>
          <a href="tree.html" alt="JavaScript version""><i class="js-modal-trigger fa-brands fa-js is-size-6"></i></a>          
        </p>
      </div>
    </footer>

</body>
</html>
