@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500&display=swap');

//$body-color: #111111;
//$body-color: #111111;
$body-color: #FFF;
$family-serif: 'Noto Serif JP', serif;
$family-primary: $family-serif;
$primary: #cb4042;
$card-footer-padding: 0;

//$panel-block-hover-background-color: red;
$panel-heading-size: 16px;


//$tabs-link-padding: 3rem;
//@import '../../node_modules/bulma/css/bulma.css';
@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bulma-switch/src/sass/index.sass';


//body {
//    background-color: white;
//}
//$font: 'Cormorant Garamond, serif';

.tabs:not(:last-child) {
  margin-bottom: 0px;
}

.tabs a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  border-bottom-width: 0px;
  border-bottom-color: black;
}

.tabs li.is-active a {
  _color: #cb4042;
  color: white;
  border-bottom-color: #f596aa;
  border-bottom-width: 3px;
  font-weight: 700;
}

.tabs li.is-active a:before{
  content:"\273f";
  _content:"\1f338";
  color:#f596aa;
  margin-right: 0.5rem;
}

body {
    font-family: $family-serif;
    font-weight: 700;
    background-color: white;
    color: #27221F;
}

select {
    font-family: $family-serif;

}
li span:nth-child(1){
    _color: #cb4042;
}


li h3 {
    color: #cb4042;
    font-weight: 700;
}

li p{
    color: #cb4042;
}

.focus-on {
    color: #096148;
}

.focus-style {
  color: white;
  background-color: #cb4042;
  border-width: 0px;
}

.sources a {
    text-transform: capitalize
}

.citation {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.sources.citation {
  margin-left: 1rem;
  font-style: normal;
}

.sources.citation:before{
  content:"\2014";
  margin-right: 0.5rem;
}

img.thumb {
  max-width: 80px;
  height: auto;
}

.style_native {
  _color: #0f2540;
  color: #e98b2a;
    _font-size: 0.5rem;
    _vertical-align: super;
}
.info li, .person li {
  alist-style-type: none;
  margin-left: 10px;
  padding: 0;
}

.info ul, .person ul {
   margin: 0;
   padding: 0;
   list-style: disc;
}
.info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.person figure {
  border: thin silver solid;
  float: right;
  margin-left: 20px;
}

.person img {
  margin: 10px;
  max-width: 200px;
  _border: thin silver solid;
}


.info h1, .person h1 {
    font-size: 1rem;
    font-weight: bold;

}

.info .birth  {
    font-size: 0.7rem;
    text-align: center;
}

.person .birth {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

.info .learning-flow {
  _font-size: 1rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.info .learning-arrow {
  padding: 1rem;
}
.info h1.name  {
    font-size: 0.8rem;
    font-weight: bold;
    color: #0f2540;
    text-align: center;
}

.person h1.name  {
  font-size: 1.8rem;
  font-weight: bold;
  color: #0f2540;
  text-align: center;
}

.info .photo-sources {
    font-size: 0.5rem;
    font-style: italic;
    text-align: center;
}
.person {
  font-size: 1rem;
}
.person .photo-sources {
  font-size: 0.7rem;
  font-style: italic;
  text-align: center;
  _overflow-wrap: break-word;
  max-width: 200px;
}

.info .native-name  {
    font-size: 1rem;
    font-weight: bold;
    color: #0f2540;
    text-align: center;
}

.person .native-name  {
  font-size: 1rem;
  font-weight: bold;
  color: #0f2540;
  text-align: center;
  margin-bottom: 10px;
}

.person .nationality  {
  font-size: 1rem;
  font-weight: bold;
  color: #0f2540;
  text-align: center;
  margin-bottom: 10px;
}

.info h2 {
  font-weight: bold;
  font-size: 0.8rem;
  color: #cb4042;
  _color: #f596aa;
}

.person h2 {
  font-weight: bold;
  font-size: 1.2rem;
  color: #cb4042;
  _color: #f596aa;
  margin-top: 10px;
  margin-bottom: 10px;
}

figcaption {
  padding: 0.5em;
  _border: thin silver solid;
  border-bottom: none;
}

.info dt, person dt {
    font-size: 1rem;
    font-weight: bold;

}

.info-container {
  position: relative;
}

.distance-line {
  position: absolute;
  z-index: 500;
  right: 0.5rem;


}
.info {
  position: absolute;
  font-weight: 500;
  left: 0.5rem;
  _width: 20vw;
  min-width: 300px;
  padding: 0px;
  max-width: 20vw;
  width: 20vw;
  max-height: 70vh;
  _min-heigth: 0px ;
  box-sizing: border-box;
  _overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  _overflow: scroll;
  height: auto;
  -webkit-overflow-scrolling: touch;
  _overscroll-behavior: contain;
  overflow-wrap: break-word;
  _color: #cb4042;
  background-color: white;
  _opacity: 0.5;
  _background: rgba(100, 100, 100, 0.0);
  margin-top: 0.6rem !important;
}

.person {
  width: 90vw;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.individual-links {
  text-align: center;

}
dt {
  color: #cb4042;
  padding: 1rem;
}
dd {
  margin-left: 1rem;
  font-size: 0.8rem;
}

dd ul {
  margin-left: 1rem;
}
.columns {
  margin-top: 2rem;
  columns: 4 300px;
}
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background-color: white;
    z-index: 10;
}


// Make bavbar dropbown smaller
ainput:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]), select, textarea {
    padding:0;
}

.navbar-brand {
    text-transform: uppercase;
}
.cy {
  background-color: #efefef;// #fcfaf2;
    width: 100%;
    _height: 80vh;
    height: 90vh;
    min-width: 90%;
    //margin-left: 160px;
    z-index: 1;
}

.border-box {
    box-sizing: border-box;
}

.br-100 {
    border-radius: 100%;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.h2 {
    height: 2rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w2 {
    width: 2rem;
}

.w-100 {
    width: 100%;
}

.dark-gray {
    color: #4d4d4f;
}

.mid-gray {
    color: #555;
}

.pa3 {
    padding: 1rem;
}

.mr3 {
    margin-right: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.tc {
    text-align: center;
}

.f6 {
    font-size: .875rem;
}

.v-mid {
    vertical-align: middle;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 60em) {
    .dt-l {
        display: table;
    }

    .dtc-l {
        display: table-cell;
    }

    .w-25-l {
        width: 25%;
    }

    .w-75-l {
        width: 75%;
    }

    .ph5-l {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .mr4-l {
        margin-right: 2rem;
    }

    .mb0-l {
        margin-bottom: 0;
    }

    .tl-l {
        text-align: left;
    }

    .tr-l {
        text-align: right;
    }

    .f5-l {
        font-size: 1rem;
    }
}


// Interact

.draggable {
  color: black;
  _touch-action: none;
  _user-select: none;
  z-index: 10;
}

#toolbox {
  position:absolute;
  _margin-top: 2rem;
  _width: 20%;
  right: 0rem;
  _top: 1rem;
  _margin: auto;
  _background-color: white;

}

.panel-heading.toolbox-heading {
  _background-color: white;
  background: rgba(0,0,0,0);
  border-width: 0;
  border-radius: 0;
 text-align: right;
}

.panel-block {
  background-color: white;
  font-size: 0.6rem;
  right: 0px;

}

.toolbox-label {
  margin-right: 1rem;
  background-color: red;
}

.toolbox-item {
  border-width: 2px;
  border-color: black;

}

.toolbox-icon {
  color: #cb4042;
}
.tl-slide-background {
  filter: brightness(65%) !important;
}

.js-modal-trigger {
  float: right;
  color: #cb4042;
  z-index: 2100;

  margin-right: 1rem;
}

.cc-modal {
  height: 1rem;
}

.modal-content h2 {
font-size: 2rem;
font-weight: 700;
}

.modal-content {
text-align: left;
overflow-x: hidden;
}

pre {
    white-space: pre-wrap;
}
